name: CD Pipeline

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      SERVER_USER:
        required: true
      SERVER_IP:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      ENV_FILE:
        required: true
      DOCKER_PROJECT_NAME:
        required: true
      ENV_FILE_PATH:
        required: true
      SPRING_DATASOURCE_USERNAME:
        required: true
      SPRING_DATASOURCE_PASSWORD:
        required: true
      SPRING_DATASOURCE_URL:
        required: true
      SPRING_DATASOURCE_SCHEMA:
        required: true

  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy"
        type: environment
        required: true

permissions:
  contents: read
  packages: write
  id-token: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    uses: ./.github/workflows/release.yml
    permissions:
      contents: read
      packages: write

  migrate-db:
    needs: release
    uses: ./.github/workflows/migrate-db.yml
    with:
      environment: ${{ inputs.environment }}
      java-version: "24"
    secrets: inherit

  deploy:
    needs: [release, migrate-db]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: ${{ inputs.environment }}
      image-tag: ${{ needs.release.outputs.image-tag }}
    secrets: inherit
