name: CD Pipeline

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      SERVER_USER:
        required: true
      SERVER_IP:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      ENV_FILE:
        required: true
      DOCKER_PROJECT_NAME:
        required: true
      ENV_FILE_PATH:
        required: true
      SPRING_DATASOURCE_USERNAME:
        required: true
      SPRING_DATASOURCE_PASSWORD:
        required: true
      SPRING_DATASOURCE_URL:
        required: true
      SPRING_DATASOURCE_SCHEMA:
        required: true

  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy"
        type: environment
        required: true

permissions:
  contents: read
  packages: write
  id-token: write

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    uses: ./.github/workflows/release.yml
    permissions:
      contents: read
      packages: write

  deploy:
    needs: release
    uses: ./.github/workflows/deploy.yml
    with:
      environment: ${{ inputs.environment }}
      image-tag: ${{ needs.release.outputs.image-tag }}
    secrets: inherit
  migrate-db:
    name: Migrate Database
    runs-on: ubuntu-latest
    needs: release
    environment: ${{ inputs.environment }}
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make Gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew assemble

      - name: Migrate Database
        run: ./gradlew flywayMigrate -i
        env:
          SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
          SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
          SPRING_DATASOURCE_SCHEMA: ${{ secrets.SPRING_DATASOURCE_SCHEMA }}
